{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "extends": [
	"eslint-config-jss", 
	"plugin:flowtype/recommended"],
  "globals": {
    "jss": true,
    "sheets": true,
    "createJss": true,
    "injectSheet": true,
    "reactJss": true,
    "SheetsRegistry": true,
    "ThemeProvider": true,
    "JssProvider": true,
    "createGenerateClassName": true,
    "node": true,
    "render": true,
    "unmountComponentAtNode": true
  },
  "rules": {
	"react/sort-comp": [1, {
		"order": [
		  "type-annotations",
		  "static-methods",
		  "lifecycle",
		  "everything-else",
		  "render"
		]
	  }]
  }
}
